<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table style="width:380px">
      <p><%= @order.topic %></p>
      <p><%= @order.name %></p>
      <p><%= @order.email %></p>
      <p><%= @order.number %></p>
      <p><%= @order.address %></p>
      <p><%= @order.class_type %></p>
      <p><%= @order.start_date %></p>
      <p><%= @order.start_time %></p>
    </table>
  </body>
</html>