<%= simple_form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :full_name, input_html: { class: 'span12' } %>
  <%= f.input :email, label: "Email Address", input_html: { class: 'span12' }  %>
  <%= f.input :phone_number, input_html: { class: 'span12' }  %>

  <% if request.path == "/" %>
    <%= f.input :topics, :as => :hidden, :input_html => { :value => "Tennis" } %>
  <% end %>
  
<!-- 
  <div class="row-fluid">
    <div class="span6">
      <span><input id="user_topics_tennis" name="user[topics][]" type="checkbox" value="Tennis" /><label class="collection_check_boxes" for="user_topics_tennis">Tennis</label></span>
      <span><input id="user_topics_squash" name="user[topics][]" type="checkbox" value="Squash" /><label class="collection_check_boxes" for="user_topics_squash">Squash</label></span>    
    </div>
    <div class="span6">  
      <span><input id="user_topics_badminton" name="user[topics][]" type="checkbox" value="Badminton" /><label class="collection_check_boxes" for="user_topics_badminton">Badminton</label></span>
      <span><input id="user_topics_bowling" name="user[topics][]" type="checkbox" value="Bowling" /><label class="collection_check_boxes" for="user_topics_bowling">Bowling</label></span>
      <input name="user[topics][]" type="hidden" value="" />
    </div>
  </div> -->
  <%#= f.collection_check_boxes :class_types, @user.type_selectors, :last, :last, input_html: { class: 'checkbox-inline' }%>
  <%#= f.collection_check_boxes :topics, @user.topic_selectors, :last, :last %>
  
  <%= f.button :submit, "Find Me an Instructor!", class: " orange", style: "width:100%" %>
<% end %>




