<div class="intro higher-intro">
  <div class="french background-image"></div> 
  <div class="container">
    <div class="row-fluid"> 
      <div class="span6">
        <%= image_tag("logo_big.png", :alt => 'Learnemy | Take private and group classes from people in your community', :style => "margin-top:64px; opacity:0.9") %>
        <h1>French Classes in Singapore</h1>
        <h2>Take advantage of this FREE service to find you a suitable instructor! </h2>
      </div>
      <div class="span6 sign-up" style="margin-top: 26px">
        <p>Fill in the form below and our service agents will respond to you within 1-2 days.</p>
         <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p class="center" style="margin-top: 32px;;margin-bottom:0px; font-size:16px;color: #7e7e7e">Featured on</p>
  <%= image_tag("pr_bar.png", style: "width: 100%; margin-bottom: 32px") %> 

   <h3 class="section" style="margin: 32px 0">More than 700 Happy Learners</h3>
    <div class="row-fluid">
      <div class="span3 instructor">
        <%= image_tag("1.jpeg", :alt => 'Learnemy | Take private and group classes from people in your community', :class => "big_picture") %>


        <p class="subtitle">&quot;Responsible, energetic coach with good technique. Patient and encouraging.&quot; - Hak Chng</p>
      </div>
      <div class="span3 instructor">
        <%= image_tag("2.jpeg", :alt => 'Learnemy | Take private and group classes from people in your community', :class => "big_picture") %>
        <!-- <p class="title">Marcus Khoe</p> -->
        <p class="subtitle">&quot;My instructor, Marcus Khoe, is great! He&#39;s been most patient and encouraging. I&#39;m looking forward to my second lesson and I&#39;ll be continuing with him for sure.&quot; - Joyce Ang</p>
      </div>
      <div class="span3 instructor">
        <%= image_tag("3.jpeg", :alt => 'Learnemy | Take private and group classes from people in your community', :class => "big_picture") %>
        <!-- <p class="title">Marcus Khoe</p> -->
        <p class="subtitle">&quot;The class is awesome! My instructor, Subh, is very knowledgable and very passionate in teaching everyone. The slide and instruction is very clear and I am able to follow. Overall it was great! Thanks Learnemy and Subh!&quot; - Diane Widyangga</p>
      </div>
      <div class="span3 instructor">
        <%= image_tag("4.jpeg", :alt => 'Learnemy | Take private and group classes from people in your community', :class => "big_picture") %>
        <!-- <p class="title">Marcus Khoe</p> -->
        <p class="subtitle">&quot;Rae is a very patient and good instructor. I am soon looking forward to get another session from him.&quot; - Aniket Shirodkar</p>
      </div>
  </div>  
  <div class="clear-both" style="margin-bottom: 40px"></div>
</div>




<div class="how-it-works">
  <div class="container">
    <div class="row-fluid usp" style="margin: 40px 0">      
      <div class="span4 ">
        <h3><span class="circled-number">1</span> Share</h3>
        <p>Let us know your requirements and we'll send you <b>ONE</b> best fit instructor out of our pool of instructors.</p>
      </div>

      <div class="span4 ">
        <h3><span class="circled-number">2</span> Book</h3>
        <p>Confirm your class through our secure online payment gateway.</p>
      </div>

      <div class="span4 ">
        <h3><span class="circled-number">3</span> Learn</h3>
        <p>Congrats! You’re on your way to acquiring your new skill!</p>
      </div> 
      <p><%= link_to "Teach See how Learnemy helps you", "https://www.learnemy.com/teach", class: "pull-right smaller "%></p>  
    </div>

    <h3 class="section space-top-none" style="text-align:center">Start Learning Now!</h3>
    <p class="center space-top-none bigger-text" style="color: #444">Fill the form below to get started</p> 
    <div class="row-fluid" style="margin-bottom: 80px;">
      <div class="span6 offset3 sign-up">
        <%= render 'form' %>
      </div> 
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid" style="margin-bottom: 80px; margin-top: 40px">
    <div class="span8 offset2">
      <h3 class="section">Verified Instructors, No Hidden Charge</h3>
      <div class="row-fluid">
        <div class="span3">
          <%= image_tag("verified-ribbon.png", :alt => 'Learnemy | Take private and group classes from people in your community', style: "width: 92%; float: right;") %>
        </div>
        <div class="span9">
          <p style="font-size: 18px">Learnemy has served more than <b>700</b> happy learners. We screen our instructors and we're are not afraid to reject teachers who don't meet our standards! Reviews are all made by past learners.</p>
          <p style="font-size: 18px">There are no hidden fees in using Learnemy. Instructors pay us a small introduction fee when you enrol.</p>
        </div>
      </div>
    </div> 
  </div>
</div>


<footer>
  <div class="container">
    <div class="row-fluid">

      <div class="span4">
        <ul class="nav nav-list">
          <li class="nav-header"><h5>Get started</h5></li>
          <li><a href="https://www.learnemy.com/about">About</a></li>
          <li><a href="https://www.learnemy.com/how-it-works">How it works</a></li>
          <li><a href="https://www.learnemy.com/faq">FAQ</a></li>
          <li><a href="https://www.learnemy.com/terms" rel="nofollow">Terms &amp; Privacy</a></li>
        </ul>
      </div>

      <div class="span4">
        <ul class="nav nav-list">
          <li class="nav-header"><h5>Company</h5></li>
          <li><a href="http://www.blog.learnemy.com/" target="_blank">Blog</a></li>
          <li><a href="https://www.learnemy.com/press">Press</a></li>
          <li><a href="https://www.learnemy.com/partners" rel="nofollow">Partners</a><li>
          <li><a href="https://www.learnemy.com/contact" rel="nofollow">Contact details</a></li>
        </ul>
      </div>

      <div class="span4">
        <address>
          <div itemscope itemtype="http://schema.org/LocalBusiness">
            <div itemprop="name"><h5>LEARNEMY PTE LTD</h5></div>
            UEN 201025618H<br/>
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">2 Orchard Link #04-01</span><br>
              <span itemprop="addressLocality">Singapore</span> <span itemprop="postalCode">237978</span><br>
            </div>
            Phone: +65 8481 8408<br/>
          </div>
        
        <div class="row-fluid social-icons">
          <div class="span4">
            <a href="http://www.facebook.com/learnemy" rel="nofollow" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
</a>            </div>
          <div class="span4">
            <a href="http://www.twitter.com/learnemy" rel="nofollow" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
</a>            </div>
          <div class="span4">
            <a href="http://www.blog.learnemy.com/" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
</a>            </div>
        </div>
        </address>
        

      </div>
    </div>
  </div>
</footer>

