<header>
  <div class="navbar navbar-inverse navbar-static-top" >
    <div class="navbar-inner">
      <div class="container">
          <a class="brand" href="#" title="Learnemy | Skills Marketplace In Singapore"><img alt="Learnemy | Take private and group classes from people in your community" src="/assets/logo_small.png" style="height: 28px;" /></a>
        
      </div><!-- end .container -->
    </div><!-- end .navbar-inner -->
  </div><!-- end .navbar -->
</header>


<div class="row-fluid" style="margin-top:40px; margin-bottom: 200px">
  <div class="span8 offset2">
    <h2 class="header-text">Review Your Order</h2>
    <%= simple_form_for @order do |f| %>
      <div class="row-fluid">
      
        <div class="span7">
          <% if @order.errors.any? %>
            <div id="error_explanation">
              <p><%= pluralize(@order.errors.count, "field") %> missing on this form:</p>
              <ul>
              <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row-fluid">
            <div class="span6">
              <%= f.input :class_type, label: "Select Class Format", collection: @packages %>
              <%= f.input :start_date, label: "Start Date", hint: "DD/MM", placeholder: '23/06' %>
            </div>
            <div class="span6">
              <%= f.input :topic, label: "Select Topic", collection: @topics %>
              <%= f.input :start_time, label: "Start Time", hint: "HH:MM PM/AM", placeholder: '04:30 PM' %>
            </div>
          </div>
          <div class="line" style="margin-top:40px">
            <p>Student's Details</p>
          </div>
          <%= f.input :name, label: "Full Name", input_html: { class: 'span12' } %>
          <%= f.input :email, label: "Email Address", input_html: { class: 'span12' }  %>
          <%= f.input :number, label: "Phone Number",  input_html: { class: 'span12' }  %>
          <%= f.input :address, label: "Residential Address",  input_html: { class: 'span12' }  %>
        </div>
        <div class="span1"></div>
        <div class="span4">
          <%= f.button :submit, "Book My Class", class: " orange", style: "width:100%" %>
          <%= image_tag("paypal_bar.jpg", style: "width: 214px;margin: auto;display: block;padding-left: 12px;", id: "paypal", alt: "") %>
            <div class="clear-both"></div>
            <hr/>
            <span class="fa-stack fa-lg pull-left">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 style="padding-left: 44px;margin: 0px;">Order with confidence</h4>
            <p style="padding-left: 44px;">More than 700 satisfied learners have found their instructor on Learnemy.</p>
            <div class="accordion" id="faq_questions">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#faq_answer_three">
                    Refund Policy
                  </a>
                </div>
                <div id="faq_answer_three" class="accordion-body collapse" style="height: 0px;">
                  <div class="accordion-inner">
                      If the instructor declines your booking or does not respond within 24 hours, a full refund is made. 
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#faq_answer_two">
                    Security Gurantee
                  </a>
                </div>
                <div id="faq_answer_two" class="accordion-body collapse" style="height: 0px;">
                  <div class="accordion-inner">
                    Learnemy uses PayPal to collect payments. PayPal is the safest online payment gateway that does not share or collect your financial information. We do not collect or store your financial information. 
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#faq_answer_one">
                    Privacy Policy
                  </a>
                </div>
                <div id="faq_answer_one" class="accordion-body collapse" style="height: 0px;">
                  <div class="accordion-inner">
                    Your contact details will only be sent to the instructor. We will never sell your personal information.
                  </div>
                </div>
              </div>  
            </div>     
        </div>
      
      </div> 
    <% end %>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row-fluid">

      <div class="span4">
        <ul class="nav nav-list">
          <li class="nav-header"><h5>Get started</h5></li>
          <li><a href="https://www.learnemy.com/about">About</a></li>
          <li><a href="https://www.learnemy.com/how-it-works">How it works</a></li>
          <li><a href="https://www.learnemy.com/faq">FAQ</a></li>
          <li><a href="https://www.learnemy.com/terms" rel="nofollow">Terms &amp; Privacy</a></li>
        </ul>
      </div>

      <div class="span4">
        <ul class="nav nav-list">
          <li class="nav-header"><h5>Company</h5></li>
          <li><a href="http://www.blog.learnemy.com/" target="_blank">Blog</a></li>
          <li><a href="https://www.learnemy.com/press">Press</a></li>
          <li><a href="https://www.learnemy.com/partners" rel="nofollow">Partners</a><li>
          <li><a href="https://www.learnemy.com/contact" rel="nofollow">Contact details</a></li>
        </ul>
      </div>

      <div class="span4">
        <address>
          <div itemscope itemtype="http://schema.org/LocalBusiness">
            <div itemprop="name"><h5>LEARNEMY PTE LTD</h5></div>
            UEN 201025618H<br/>
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">2 Orchard Link #04-01</span><br>
              <span itemprop="addressLocality">Singapore</span> <span itemprop="postalCode">237978</span><br>
            </div>
            Phone: +65 8481 8408<br/>
          </div>
        
        <div class="row-fluid social-icons">
          <div class="span4">
            <a href="http://www.facebook.com/learnemy" rel="nofollow" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
</a>            </div>
          <div class="span4">
            <a href="http://www.twitter.com/learnemy" rel="nofollow" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
</a>            </div>
          <div class="span4">
            <a href="http://www.blog.learnemy.com/" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
</a>            </div>
        </div>
        </address>
        

      </div>
    </div>
  </div>
</footer>




